<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<script>
  var form = document.getElementById('new_<%= resource_name %>')

  form.onsubmit = function(e) {
    e.preventDefault();

    _castle('createRequestToken').then(function(requestToken) {
      // Populate a hidden field called `castle_request_token` with the
      // request token
      var hiddenInput = document.createElement('input');
      hiddenInput.setAttribute('type', 'hidden');
      hiddenInput.setAttribute('name', 'castle_request_token');
      hiddenInput.setAttribute('value', requestToken);

      // Add the hidden field to the form so it gets sent to the server
      // before submitting the form
      form.appendChild(hiddenInput);

      form.submit();
    });
  };
</script>