<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<script>
  var form = document.getElementById('new_<%= resource_name %>')

  form.onsubmit = function(e) {
    e.preventDefault();

    _castle('createRequestToken').then(function(requestToken) {
      // Populate a hidden field called `castle_request_token` with the
      // request token
      var hiddenInput = document.createElement('input');
      hiddenInput.setAttribute('type', 'hidden');
      hiddenInput.setAttribute('name', 'castle_request_token');
      hiddenInput.setAttribute('value', requestToken);

      // Add the hidden field to the form so it gets sent to the server
      // before submitting the form
      form.appendChild(hiddenInput);

      form.submit();
    });
  };
</script>
