<!DOCTYPE html>
<html>
  <head>
    <title>Castle + Devise = ♥</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= castle_javascript_tag %>
  </head>

  <body>
  <% flash.each do |key, message| %>
    <div class="flash-<%= key %>"><%= message %></div>
  <% end %>
  <div>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  </div>
    <%= yield %>
  </body>
</html>
