<!DOCTYPE html>
<html>
  <head>
    <title>Castle + Devise = ♥</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://d2t77mnxyo7adj.cloudfront.net/v1/c.js?986279357769827"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
